:root {
    --darkBlue: hsl(240, 38%, 20%);
    --grayBlue: hsl(240, 18%, 77%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFontWght.ttf');
}

body {
    font-family: Inter;
    font-size: 18px;
    text-align: center;
}
.container {
    padding: 20px;
    position: relative;
}
.slides {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.slides.two {
    display: none;
}
.slides.two.active {
    display: block;
}
.image {
    background-image: url('/images/pattern-bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
}
.image img#tanya {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 30px -15px var(--darkBlue);
}
.buttons {
    width: 70px;
    height: 35px;
    margin: 0 auto;
    margin-top: -23px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 1;
}
.prev, .next {
    cursor: pointer;
}
.prev img, .next img {
    width: 9px;
    padding: 2px 0;
}
.description {
    padding: 17px 10px;
    background-image: url('/images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50px;
}
.texts {
    color: var(--darkBlue);
    line-height: 25px;
}
.name {
    padding-top: 20px;
    font-weight: 900;
    color: var(--darkBlue);
}
.profession {
    font-size: 0.9em;
    padding-top: 5px;
    color: var(--grayBlue);
}
@media screen and (min-width:600px) {
    .container {
        max-width: 550px;
        margin: 0 auto;
    }
}